body {
  margin: 0px;
  overflow-x: hidden;
}

.project-outline {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  transition: background-color 0.5s ease;
}

.project-outline:hover {
  background-color: rgb(247, 247, 247);
}

.project-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link {
  color: rgb(128, 128, 255);
  transition: color 0.5s ease;
}

.link:hover {
  color: blue;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width:95%; 
  max-height:95%
}

.screenshot {
  width:100%; 
  height:100%; 
  left:0px; 
  top:0px; 
  position:fixed; 
  background: black; 
  opacity: 1;
  transition: opacity 0.5s ease;
}

.bold {
  font-weight: bold;
}